/* Section 4  VALORES*/

section .section-7{
  background: #15181a;
  color: #eee;  
}
  @media (max-width: 992px) {
  
  }
  @media (max-width: 768px) {
  .caroussel-caption{
   top:45%;
  }
  
  .caroussel-caption h1{
  font-size: 350%;
  }
  .caroussel-caption h3{
  font-size: 140%;
  font-weight:400;
  padding-bottom: .2rem;
  }
  .caroussel-caption .btn{
  font-size: 95%;
  padding-bottom: 8px 14px;
  background-color:#a5a5af;
  }
  
  .display-4{
  font-size:200%;
  }
  }
  @media (max-width: 576px) {
  
  .caroussel-caption{
   top:40%;
  }
  .caroussel-caption h1{
  font-size: 250%;
  }
  .caroussel-caption h3{
  font-size: 110%;
  
  }
  .caroussel-caption .btn{
  font-size: 90%;
  padding-bottom: 4px 8px;
  background-color:#a5a5af;
  }
  
  .carousel-indicators{
  display: none;
  
  }
  .display-4{
  font-size:160%;
  
  }
  
  } 

  section{
    font-family: 'Raleway';
    padding: 60px 0 0;
  }

  .box{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: #ffffff;
    transition: .5s;
     
  }

  .box:hover{
    transform: translateY(-30px);
    box-shadow: 0 50px 50px rgba(0,0,0,.5);
    background-color: #006BA7;
    color: #008DDE;
    fill: #008DDE;
      
  }
  .box:hover:after{
    /* background: red; */
    position: absolute;
    content: '';
    height: 6px;
    right: 0;
    left: 0;
    top: 0;
  
  }
.box img:hover{
    fill: #008DDE;
}
  .val:hover{
    border-top: 3px solid #008DDE;
  }

  .box .imgBox{
    position: relative;    
  }

  .box .imgBox h3{
      margin-left: 30%;
  }
  .box .imgBox svg{
      margin-left: 25%;
  }
/*prueba css */
.box .imgBox img{
      margin-left: 25%;
    
  }
/*.icon{
    width: 150;
    height: 150;
    display: inline-block;
    background-size: cover;
}
.confianza {
  background-image: ;
}*/
.imgBox svg{
  width:150;
  height:150;
    
}

.imgBox svg:hover{
    fill-opacity: .5;
}

.box .imgBox hr{
  align-content: center;
}

  .box .imgBox img{
    transition: .5s;
      align-content: center;
  
  }
  .box:hover img{
    opacity: .100;
    color: lightcoral;
    /* fill:blue; */
      
  }
  .box .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
    box-sizing: border-box;
    transition: .5s;
    opacity: 0;
  }
  .box:hover .content{
    bottom: 0; 
    opacity: 1;
  }
  .box .content h3{
    font-size: 48px;
    color: #ffffff;
    font-weight: 700px;
  }
  .box .content p{
    font-size: 18px;
    color: #ffffff;
    font-weight: 400;
  }
  .box hr{
    border-top: 3px solid #006BA7;
  }
  .box hr:hover{
      border-top: 3px solid green;
  }
  
  #di{
    align-content: center;
    border-top: 3px solid #00324F;
   /* margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 5%;*/
  }
  /*AQUI MODIFICO EL ESPACIO ENTRE COLUMNAS*/
  .col-sm-12{
    padding: 20px;
    border-spacing: 50px 0;
    border-collapse: separate;
    padding-bottom: 35px;
    padding-top: 35px;
  }
  
  .SVGconfianza{
    background-image: url(../../img/valores/confianza.svg);
    background-repeat: no-repeat;
    align-items: center;
  }

  .SVGconfianza:hover{
    fill: red;
  }

  .my-svg-alternate {
    display: none;
  }
  .no-svg .my-svg-alternate {
    display: block;
    width: 100px;
    height: 100px;
    background-image: url(image.png);
  } 